h1 { font-size: 2em; line-height: 2em; }
h2 { font-size: 1.5em; line-height: 2em; }
h3 { font-size: 1.17em; line-height: 2em; }
h4 { font-size: 1.12em; line-height: 2em; }
h5 { font-size: .83em;  line-height: 2em; }
h6 { font-size: .75em;  line-height: 2em; }


#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    margin-top: 60px;
}

/* .section {
    padding: 0;
} */

.container-main {
    background-color: #F5F5F5;
    padding: 0.5em;
    padding-top: 2em;
    padding-bottom: 2em;

    min-height: 20em;
}

.container-main p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

.section {
    padding: 0;
}